.Welcome
{
   text-align: center;
 font-size: 50px;
color: red;
 text-shadow: 5px 5px 5px  gold  ,7px 7px 5px orange  ,10px 10px 5px  red;
}
.WelcomeEmail
{
   text-align: right;
 font-size: 23px;
color: red;
 text-shadow: 2px 2px  2px gold ;
}
